
*{
  box-sizing: border-box;
  
}
body{
  
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background-color: #012363;
  border: .5px solid #ffb701;
}
header{
  padding: 15px;
  text-align: center;
  background: #012363;
  border: .5px solid #ffb701;
}
header h1{
  font-size: 30px;
  color: #ffb701;
}
header p{
  color: #ffb701;
  text-shadow: 1px;
}
#logo{
  float: left !important;
  margin-top: -135px;
}
nav{
  overflow: hidden;
  background-color: #002e74;
  
}
nav a{
  float: right;
  display: block;
  color: #ffb701;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover{
  background-color: #ffb701;
  color: #002e74;
}
section{
  border: 1px solid #ffb701;
  padding: 1px;
  border-left-width: 5px;
  border-radius: 10px;
  
  
}
.fakeimg{
  background-color: #002e74;
  color: #ffb701;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  border: .5px solid #ffb701;
  
}
